{% assign arrow = '<img src="https://cdn2.iconfinder.com/data/icons/250-perfect-vector-pictograms/48/9.5-512.png">' %}

<script type="module" src="{{ site.baseurl }}/assets/js/scheduler.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.css">

<!-- Modals -->
<div class="modal" id="past-course-input" hidden>
    <div class="modal-background">
        <div class="modal-content">       
            <h1 class="modal-header">Past Course Input</h1>

<textarea id="past-course-input-box" col="100" rows="100" 
placeholder="Capitalization and extraneous text doesn't matter, just make sure the course code and number are not separated.
Copying and pasting degree navigator information is reccomended.

examples:
'cse431 cse460 cse803'

'FS20: cse431, CSE460, CSE803'

'FS20
CSE431	3	current
cse460	3	current
CSE803	3	current'"></textarea>
            

            <div class="btn" modalID="past-course-input" modalBtn="close" id="past-course-submit"><div>Submit</div></div>
            <div class="btn" modalID="past-course-input" modalBtn="close"><div>Close</div></div>
        </div>
    </div>
</div>

<div class="modal" id="course-directory" hidden>
    <div class="modal-background">
        <div class="modal-content">
            <h1 class="modal-header">Course Directory</h1>
            <div class="search" id="course-search">
                <input class="search-bar" type="text" autocomplete="off" id="course-search-bar" placeholder="Search Course Code">
                <ul class="search-content" id="course-search-content"></ul>
            </div>
            
            <div class="btn" modalID="course-directory" modalBtn="close">Close</div>
        </div>
    </div>
</div>

<div class="modal" id="course-info" hidden>
    <div class="modal-background">
        <div class="modal-content">
            <h1 class="modal-header">Course Information</h1>
            
            <div class="btn" modalID="course-info" modalBtn="close">Close</div>
        </div>
    </div>
</div>

<div class="modal" id="alert" hidden>
    <div class="modal-background">
        <div class="modal-content">
            <div id="alert-message"></div>
            
            <div class="btn" modalID="alert" modalBtn="close">Close</div>
        </div>
    </div>
</div>


<!-- PAGES -->

<div id="schedule-content">
    <div class="content" id="disclaimer" step='0' hidden>
        <div page="0"></div>
    </div>

    <div class="content" step='1'>
        <h1>Choose Major</h1>
        <div class="search" id="major-search">
            <input class="search-bar" type="text" autocomplete="off" id="major-search-bar" placeholder="Search Major Name">
            <ul class="search-content" id="major-search-content"></ul>
        </div>

        <div class="next">{{ arrow }}</div>
    </div>


    <div class="content" step='2' hidden>
        <h1>Choose Minor</h1>
        <div class="search" id="minor-search">
            <input class="search-bar" type="text" autocomplete="off" id="minor-search-bar" placeholder="Search Minor Name">
            <ul class="search-content" id="minor-search-content"></ul>
        </div>

 
    </div> 

    <!-- INPUT PAST COURSES -->
    <div class="content" step='3' hidden>
        <h1>Input Past Courses</h1>
        <ul class="block-course-container" id="past-course-list" ></ul>

        <div class="btn" modalID="past-course-input" modalBtn="open">Input Text</div>
        <div class="btn" modalID="course-directory"  modalBtn="open">Search</div>

 
    </div>

    <!-- COMPLETE REAUIREMENTS -->
    <div class="content" step='4' hidden>
        <!-- Incomplete requirements modal -->
        <div class="modal" id="unfulfilled" hidden>
            <div class="modal-background">
                <div class="modal-content">
                    <div id="unfulfilled-message">
                        <span>You have unfulilled Requirements, do you still want to continue?</span>
                    </div>
                    
                    <div class="btn" modalID="unfulfilled" modalBtn="close" id="continue-next">Continue</div>
                    <div class="btn" modalID="unfulfilled" modalBtn="close" id="cancel-next">Cancel</div>
                </div>
            </div>
        </div>
        
        <h1>Complete Requirements</h1>
        <div class="content" id="requirement-list"></div>
        <div class="side-box"></div>

 
    </div>

    <!-- ARRANGE COURSES -->
    <div class="content" step='5' hidden>
        <!-- Incomplete requirements modal -->
        <div class="modal" id="semester-input">
            <div class="modal-background">
                <div class="modal-content">
                    <div style="padding: 1vw">
                        <h1>Semester Information</h1>
                        <div style="padding: 1vw">
                            <h3>Number of Semesters</h3>
                            <div class="number-input">
                                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" ></button>
                                <input class="quantity" min="1" name="quantity" value="8" type="number" id="semester-input-box">
                                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                            </div>
                        </div>
 
                        <div style="padding: 1vw">
                            <h3>Starting Semester</h3>
                            <ul class="block-course-container" id="start-semester" style="width:fit-content">
                                <li><div class='btn selected'>Fall</div></li>
                                <li><div class='btn'>Spring</div></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="btn" modalID="semester-input" id="semester-input-submit">Continue</div>
                </div>
            </div>
        </div>

        
        <h1>Create Schedule</h1>
        <div id="development-semester-list">
            <div id="chosen-courses" hidden>
                <div class='drop-box' semester='-1'>
                    <h3>Chosen Courses</h3>
                    <ul class="block-course-container drag-list">
                        <li><div class="btn"><div>temp</div></div>  
                    </ul>
                </div>
            </div>

            <div id="semester-boxes">
                <div class='drop-box' semester='0'>
                    <h3>Previous Courses</h3>
                    <ul class="block-course-container">
                    </ul>
                </div>  
            </div>

        </div>

 
    </div>

    <!-- ARRANGE COURSES -->
    <div class="content" step='6' hidden>
        <h1>Completed Schedule</h1>
        <div class="content" id="completed-semester-list"></div>
        <div id="download"></div>

        <div class="prev">{{ arrow }}</div>
    </div>

    <div class="prev">{{ arrow }}</div>
    <div class="next">{{ arrow }}</div>

</div>

