<script src="../assets/js/coursePlanner.js"></script>


<div id="schedule-content">

    <div id="step1">
        <h1>Choose Major</h1>
        <div class="selector" id="major">
            <input class="search" type="text" id="major-search" placeholder="Search Major Name">
            <ul id="major-list"></ul>
        </div>

        <button id="step1-next">Next</button>
    </div>


    <div id="step2" style="display:none;">
        <h1>Choose Minor</h1>
        <div class="selector" id="minorr" >
            <input class="search" type="text" id="minor-search" placeholder="Search Minor Name">
            <ul id="minor-list"></ul>
        </div>

        <button id="step2-back">Back</button>
        <button id="step2-next">Next</button>
    </div> 

    <!-- INPUT PAST COURSES -->
    <div id="step3" style="display:none;">
        <h1>Input Past Courses</h1>
        <div class="chosen-courses" id="past-course-list" ></div>

        <div class="upload">
            <textarea id="course-input"  name="someName" col="100" rows="100" 
                placeholder="Don't worry about formatting or capitalization, feel free to just copy and paste your degree navigator information."></textarea>
            <button id="past-courses-submit">Submit</button>
        </div>

        <div class="selector" id="past-course-selector">
            <input class="search" filterMin="2" type="text" id="past-course-search" placeholder="Search Course Code">
            <ul id="add-past-course"></ul>
        </div>

        <button id="step3-back">Back</button>
        <button id="step3-next">Next</button>
    </div>

    <!-- COMPLETE REAUIREMENTS -->
    <div id="step4" style="display:none;">
        <h1>Complete Requirements</h1>
        <div id="requirements"></div>

        <button id="step4-back">Back</button>
        <button id="step4-next">Next</button>
    </div>

    <!-- ARRANGE COURSES -->
    <div id="step5" style="display:none;">
        <h1>Complete Requirements</h1>
        <div id="requirements"></div>

        <button id="step5-back">Back</button>
        <button id="step5-next">Next</button>
    </div>

    <!-- ARRANGE COURSES -->
    <div id="step6" style="display:none;">
        <h1>Completed Schedule</h1>
        <div id="schedule"></div>
        <div id="download"></div>

        <button id="step6-back">Back</button>
        <button id="step6-next">Next</button>
    </div>

</div>