@import "normalize";
@import "rouge-github";
@import "variables";
@import "background";




@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}

* {
  box-sizing: border-box;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

body {
  height: 100%;

}

textarea {
  height: 10vw;
  width: 100%;

  overflow: scroll;
}


.page-header {
    position: fixed;
    display: inline-flex;


    .logo {
      padding: 1vw;
      max-width: 12vw;
      max-height: 12vw;

      z-index: 10;

      img {
        max-width: 100%;
        max-height: 100%;

        &:hover {
          cursor: pointer;
        }
      }

    }
}



.main-content {
    word-wrap: break-word;
    animation:unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
  
    :first-child {
      margin-top: 0;
    }
  
    @include large {
      max-width: 64rem;
      padding: 2rem 6rem;
      margin: 0 auto;
      font-size: 1.1rem;
    }
  
    @include medium {
      padding: 2rem 4rem;
      font-size: 1.1rem;
    }
  
    @include small {
      padding: 2rem 1rem;
      font-size: 1rem;
    }
  
}

#loading {
  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100vh;
  text-align: center;

  background-color: grey;
  color: white;
  font-size: 10vw;
}


#schedule-content {
  width: 100%;
  height: 100%;

  display: flexbox;

  .selector {
    max-height: 50vh; 
    overflow: auto;
    list-style-type: none;

    border: 1vw solid grey;

    .search {
      height: 2vw;
    }

    ul {
      border: 1vw solid rgba(128, 128, 128, 0.411);
      list-style-type: none;

      li {

        button {
          padding: 1vw;
          height: auto;
          width: 40vw;

          font-size: 1vw;



        }

      }
    }

  }
}

.major-button {
  background-color: lightgrey;
}


.minor-button {
  background-color: lightgrey;
}

.chosen-courses {
  max-height: 20vh; 
  overflow: auto;

  border: 1vw solid rgba(128, 128, 128, 0.411);
  display: flexbox;

  .course {
    width: auto;

    padding: 1vw;
    border: solid 0.5vw lightgrey;



  }
}

.remove {
  padding-left: 1vw;
  background-color: transparent;
  border: none;
}
