@import "normalize";
@import "rouge-github";
@import "variables";
// @import "animations";


@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}


/**           WHOLE PAGE          **/

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #f5f5f52f;

  transition: background-color .8s;

  &:hover{
    background-color: #f5f5f550;
  }
}

::-webkit-scrollbar
{
  width: 12px;
  background-color: #f5f5f52f;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}


* {
  box-sizing: border-box;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

body {
  height: 100%;
}

html {
  background-color: $bg-color;
}

textarea {
  display: block;
  margin: 5vh auto 5vh;
  height: 50vh;
  width: 80%;
  
  border-color: rgba(255, 255, 255, 0.267);
  border-style: solid;
  border-radius: 0.5vw;
  border-width: 0.2vw;

  overflow: scroll;

  &:focus{
    outline: none !important;
  }
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: Bold;
  color: $section-headings-color;
}

ul {
  counter-reset: index;  
  list-style-type: none; 
  display: table;
  margin: 0;
  padding: 0;

  li {
    display: block;
    margin: 0;
    list-style-type: disc !important;

    font-weight: bold;    
    counter-increment: index; 

    background-image: linear-gradient(to bottom, #5B5941, #fff4f4, #fff4f4, #5B5941);
    background-attachment: fixed;
    -webkit-background-clip: text, content-box;
    -webkit-text-fill-color: transparent;
  }

  .btn {
    margin: 0;
  }
}


.course-table {
  display: block;
  width: 80%;
  padding: 2vw;
  margin: 0 auto;
  overflow: auto;
  border-collapse: collapse;
  text-align: left;

  // background-color: rgba(255, 255, 255, 0.13);
  color: rgba(53, 53, 53, 0.836);

  word-break: normal;
  word-break: keep-all; // For Firefox to horizontally scroll wider tables.
  -webkit-overflow-scrolling: touch;

  th {
    font-weight: bold;
  }

  th,
  td {
    padding: 0.5rem 1rem;
    // border: 0.1vw solid $table-border-color;
  }

  tr {
    background-color: rgba(255, 255, 255, 0.13);
  }
} 


/**           SEARCH CONTENT          **/

.search {
  padding: 5vh;

  input {
    text-align: center;
    height: 5vh;
    width: 100%;

    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.2);

    background: transparent;

    &:focus{
      outline: none !important;
      background-color: rgba(255, 255, 255, 0.3);
    }
  }

  ul {
    display: block;
    max-height: 70vh;
    overflow: auto;
    
  }

}


/**           CLICKY STUFFS          **/

.btn {
  display: inline-block;
  width: auto;
  height: auto;
  margin-bottom: 1rem;
  vertical-align: middle;
  text-align: center;
  padding: 1vw;

  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);

  border-style: solid;
  border-width: 0.1vw;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;

  div {
    display: inline-block;
  }

  &:hover {
    text-decoration: none;

    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3);

    cursor: pointer;
  }

  + .btn {
    margin-left: 1rem;
  }

  // @include large {
  //   padding: 0.75rem 1rem;
  // }

  // @include medium {
  //   padding: 0.6rem 0.9rem;
  //   font-size: 0.9rem;
  // }

  // @include small {
  //   display: block;
  //   width: 100%;
  //   padding: 0.75rem;
  //   font-size: 0.9rem;

  //   + .btn {
  //     margin-top: 1rem;
  //     margin-left: 0;
  //   }
  // }
}

.full {
  width: 100%;
}

.selected {
  background-color: rgba(255, 255, 255, 0.4);
  border-color: rgba(255, 255, 255, 0.5);

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.6);
  }
}

.locked {
  @extend .selected;
  background-color: rgba(70,70,70,0.4);
  border-color: rgba(255,255,255,0.2);

  &:hover {
    background-color: rgba(70,70,70,0.4);
    border-color: rgba(255,255,255,0.2);
    pointer-events: none;
  }
}

.unfulfilled {
  background-color: $unfulfilled !important;
}

.fulfilled {
  background-color: $fulfilled !important;
}


.remove {
  display: inline-block;
  margin-left: 1vw;
  background-color: transparent;
  border: none;
}

.info {
  // @extend .btn;
  display: inline-block;
  // position: fixed;
  float: right;
  
  padding: auto;
  margin-left: 1vw;
  background-color: transparent;
  border: none;

  &:hover
  {
    -webkit-text-fill-color: white;

  }
}

.add {
  @extend .btn;
  
  padding: 0.5vw;
  margin: 0;
  background-color: transparent;
  border: none;
}

#next {
  position: fixed;
  top: 45%;
  right: 5%;

  width: 2vw;
  height: 2vw;

  img {
    filter: invert(80%);
    width: 100%;
    height: 100%;
  }

  &:hover {
    img {
      filter: invert(100%);
      cursor: pointer;
    }

  }
}

#prev {
  @extend #next;
  left: 5%;

  img {
    transform: rotateY(180deg);
  }
  
}


/**           HEADER          **/

.page-header {
    position: fixed;
    display: inline-flex;


    .logo {
      padding: 1vw;
      max-width: 12vw;
      max-height: 12vw;

      z-index: 10;

      img {
        max-width: 100%;
        max-height: 100%;

        &:hover {
          cursor: pointer;
        }
      }

    }
}


/**           CONTENT          **/

.content {
  text-align: center;
  @include large {
    padding-top: 2vw;
  }

  @include medium {
    padding-top: 1vw;
  }

  @include small {
    padding-top: 0.5vw;
  }
}

.main-content {
  word-wrap: break-word;

  animation: unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;

  :first-child {
    margin-top: 0;
  }

  @include large {
    max-width: 64rem;
    // padding: 1rem 3rem;
    margin: 0 auto;
    font-size: 1.1rem;
  }

  @include medium {
    // padding: 1rem 2rem;
    font-size: 1.1rem;
  }

  @include small {
    // padding: 1rem 0.5rem;
    font-size: 1rem;
  }

}

/**           MODALS          **/

.modal {
  z-index: 99;

  .modal-background {
    position: fixed;
    display: table;

    margin: 0;
    // padding: 5vh, 5vw, 5vh, 5vw;
    padding: 5vw;

    top:0;
    left:0;
  
    height: 100%;
    width: 100%;

    background-color: #ccccccd0;
  }

  .modal-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
   
    height: auto;

    background-color: $bg-color;
    border-color: rgba(255, 255, 255, 0.267);
    border-style: solid;
    border-radius: 1vw;
    border-width: 0.2vw;
    
    tr:nth-child(odd) {
      background-color: #ffffff;
    }
    tr:nth-child(even) {
      background-color: #dddddd;
    }
  }
}

#course-search {
  margin: 0 auto;
  max-width: 50vw;

  .search-content {
    max-height: 50vh;

    li {
      background-image: linear-gradient(to bottom, $theme-orange, $theme-yellow, $theme-green);
    }

  }
}


/**          STEP 4 requirements        **/
#requirement-list {
  display: box;

  .requirement-container
  {
    display: block;
    padding: 1.5vw;
    // margin: 0;
    margin: auto;
    text-align: left;

    background-color: rgba(255, 255, 255, 0.151);
    border-color: rgba(255, 255, 255, 0.267);
    border-style: solid;
    border-radius: 1vw;
    border-width: 0.2vw;

    color: $header-heading-color;
  
  }
}

.course-container{
  margin: auto;
  padding: 1vw;
  width: 100%;
  height: auto;

  display: inline-block;
  text-align: left;

  overflow:auto;
  white-space: nowrap;

  li {
    display: inline-block;
  
    width: auto;

    font-weight: bold;
  
    background-image: linear-gradient(to right, $theme-orange, $theme-yellow, $theme-green);
    background-attachment: fixed;
    -webkit-background-clip: text, content-box;
    -webkit-text-fill-color: transparent;
  }

  .btn {
    display: inline-flexbox;
    // height: 5vw;
    margin: auto;
  }

}

#credit-count {
  position: fixed;
  top: 1vw;
  right: 1vw;

  color: rgba(255, 255, 255, 0.7);
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);

  border-style: solid;
  border-width: 0.1vw;
  border-radius: 0.3rem;

  padding: 1vw;
}

.block-course-container {
  @extend .course-container;
  white-space: normal;
}


.star {
  display: inline-block;
  font-size: 3vh;
}


/**           STEP 5 PREREQUISITES        **/
.prerequisite-form {
  position: relative;
}


.choice-form {
  color: white;

  div {
    // display: inline-block;
  }
}

.form-buttons {
  position: fixed;
  bottom: 5vw;
  left: 50%;
  transform: translateX(-50%);
}



/**           STEP 6 DRAGGABLE        **/
#development-semester-list {
  white-space: nowrap;

  .column {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding: 1rem;
  }
}

.drop-box {
  border-color: rgba(255, 255, 255, 0.2);

  border-style: solid;
  border-width: 0.2vw;
  border-radius: 0.3rem;
  padding: 0.5vw;
  position: relative;

  li {
    margin: 0.5vw;
  }

  h3 {
    margin: 0;
  }
}

.semester-info {
  position: absolute;
  top: 0.5vw;
  right: 0.5vw;

  font-weight: bold;
  display: inline-flex;

  .credits {
    @extend .btn;

    background-color: transparent;
    border-color: transparent;

    &:hover {
      background-color: transparent;
      border-color: transparent;
      color: rgba(255, 255, 255, 0.7);
      pointer-events:none;
    }

    div {
      padding: 0 1vw 0 1vw;
    }
  }
}


#chosen-courses {
  position: sticky;
  position:-webkit-sticky;
  top: 0;
  // margin-left: calc(-50vw + 50%);
  // width: 100vw;
  z-index: 10;

  .drop-box {
    background-color: rgb(34, 34, 34);
  }

  ul {
    max-height: 10vw;
    overflow: auto;
  }

}

.green {
  border-color: rgba(43, 255, 0, 0.2);
}

.red {
  border-color: rgba(255, 0, 0, 0.2);
}


.gu-mirror {
  list-style-type: none;
}

// input
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  border: 0;
  display: inline-flex;
}

.number-input,
.number-input * {
  box-sizing: border-box;
}

.number-input button {
  outline:none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin: 0;
  position: relative;
  border-radius: 50%;
}

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 1rem;
  height: 2px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
  font-family: sans-serif;
  max-width: 5rem;
  padding: .5rem;
  border: none;
  border-width: 0 2px;
  font-size: 2rem;
  height: 3rem;
  font-weight: bold;
  text-align: center;
  color:$theme-orange;
}