// Background
$bg-color: #000000 !default;
// $bg-color: #f0ecfa !default;
$wave-color: #4b528f !default;
$wave-color2: #4b528f !default;
$wave-color3: #4b528f !default;
$wave-color4: #4b528f !default;


// $theme-pink: #c86b84 !default;
$theme-pink: #eecad4 !default;
$theme-pinkLite: #eecad4 !default;

// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;


// Text
$section-headings-color: #ffe2e2 !default;